body{
    background: linear-gradient(to bottom left, #212121, #0c0c0c);
    height: 100vh;
    user-select: none;
}
.box{
    background: #ff0000;
    border-radius: 50%;
}
.md{
    margin: auto;
    width: 550px;
    border: 1px solid rgba(0, 238, 255, 0.103);
    box-shadow:0px 0px 30px rgba(0, 0, 255, 0.425) ;
    margin-top: 100px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px;
}
input{
    background: transparent;
    text-align: right;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    font-size: 80px;
    color: white;
    margin-bottom: 30px;
    /* pointer-events: none; */
}
input::placeholder{
    color: white;
}
.container{
    grid-template-columns: repeat(4 , 1fr);
    text-align: center;
    gap: 20px;
}
.box{
    aspect-ratio: 1 / 1;
    background: transparent;
    /* background: red; */
    border-radius: 50%;
    box-shadow:  -5px -5px 20px #52525249, 5px 5px 20px rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    font-size:30px ;
    color: white;
}
.btn-green{
    color: rgb(0, 182, 0);
}
.btn-orange{
    background: orange;
}